<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFrontEndService" />
                <binding name="BasicHttpBinding_IDomainSpecificService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:29968/FrontEndService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFrontEndService"
                contract="FrontEndServiceReference.IFrontEndService" name="BasicHttpBinding_IFrontEndService" />
            <endpoint address="http://localhost:29968/DomainSpecificService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDomainSpecificService"
                contract="DomainSpecificServiceReference.IDomainSpecificService"
                name="BasicHttpBinding_IDomainSpecificService" />
        </client>
    </system.serviceModel>
</configuration>